@font-face {
    font-family: myFont;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    position: relative;
    background-color: rgb(53, 57, 70);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#image-box {
    flex-basis: 28%;
    flex-grow: 0;
    flex-shrink: 0;
}

#image-box > img {
    width: 100%;
    height: 100%;
}

#logo-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 28%;
    top: 20%;
    /*
    background-color: rgb(53, 57, 70);
    opacity: 0.5;

    This way of setting opacity affects the child elements. Do the following instead
    */
    background: rgba(53, 57, 70, 0.5);
}

#logo-box > div{
    display: flex;
    align-items: center;
    flex-grow: 0px;
    flex-shrink: 0px;
}

#logo-box > div > img {
    object-fit: contain;
    width: 120px;
    height: 120px;
}

#logo-box > div > span {
    font-family: myFont;
    font-size: 100px;
    text-align: center;
    color: white;
}

#image-box > p {
    position: absolute;
    bottom: 50px;
    left: 20%;
    color: white;
    font-weight: bold;
}

#image-box > p > a {
    color: white;
}
#content-box {
    flex-basis: 47%;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: white;
   /* flex-grow: 3; */
}

#intro, #account {
    height: 35%;
    background-color: whitesmoke;
    padding-left: 50px;
}

#intro {
    padding-top: 15%;
}

#form-box{
    height: 30%;
    padding-left: 50px;
    padding-top: 25px;
}


form{
    display: flex;
    gap: 60px;
}

form ul li{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    list-style: none;
    font-size: 15px;
}

input{
    padding-left: 10px;
    font-size: 15px;
    height: 30px;
    width: 300px;
    border: 1px rgb(223, 220, 220) solid;
    border-radius: 2px;
}

#account > * {
    margin-top: 40px;
    font-size: 20px;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background: #045214;
    font-weight: bold;
    cursor: pointer;
}

#account a{
    color: rgba(69, 79, 168, 0.856);
    text-decoration: none;
}

input:focus{
    border: 2px solid blue;
    outline: none;
}

#message{
    color: red;
    font-size: 12px;
}

.error {
    border: 2px solid red;
}